<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDiI7C-Z0zIy0_RCJbYcXl1wwatVATAZVM</string>
	<key>GCM_SENDER_ID</key>
	<string>667167618837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.igenerate14</string>
	<key>PROJECT_ID</key>
	<string>igenerate14</string>
	<key>STORAGE_BUCKET</key>
	<string>igenerate14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667167618837:ios:b1b8446f1f49b0202b1b1c</string>
</dict>
</plist>